{{#isHeaderParam}}@Parameter(description = "{{{description}}}"{{#required}}, required=true{{/required}}){{#useBeanValidation}}{{>beanValidationHeaderParams}}{{/useBeanValidation}}@HeaderParam("{{baseName}}") {{{dataType}}} {{paramName}}{{/isHeaderParam}}